body {
    background-color:#0e1227;
    margin: 0;
}
#main-container {
    min-width: 1212px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 1000px;
    background-image: url("https://kartinkin.net/uploads/posts/2021-07/1625779471_21-kartinkin-com-p-krasivie-minimalistichnie-oboi-krasivie-21.jpg");
    background-size: cover;
    box-shadow: 0px 100px 100px #080c16c0;
}

#left-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

#center-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#right-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

#board-container {
    display: grid;
    grid-template-columns: repeat(3, 204px);
}

.cell {
    background-color: rgba(255, 255, 255, 0);
    width: 200px;
    height: 200px;
    margin: 2px;
    text-align: center;
    font-size: 130px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 3px #00000037;
}

.cell:hover {
    background-color: rgba(255, 255, 255, 0.052);
}

#error-msg {
    color: rgb(255, 165, 184);
    text-shadow: 1px 2px 4px #000000d1;
}
.text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-shadow: 1px 1px 4px #0000009e;
}

.input-field {
    background-color:#00000000;
    border-radius: 100px;
    border-style: hidden;
    box-shadow: 1px 1px 3px #00000077;
}